[submodule "DoorGym"]
	path = DoorGym
	url = https://git.uibk.ac.at/csas8782/DoorGym.git
[submodule "baselines"]
	path = baselines
	url = https://github.com/openai/baselines.git
[submodule "clfd"]
	path = clfd
	url = https://github.com/sayantanauddy/clfd
